include ../../components/like-button/like-button

mixin review(photoSrc, reviewerName, reviewTime, reviewText)
	.review
		.review__header
			.review__photo
				img(src=`${photoSrc}`, alt='', class='review__photo-img')
			.review__header-text
				h3.review__name= reviewerName
				span.review__time= reviewTime
		.review__body
			.review__like-button
				+like-button({isLiked: false, counter: 0})
			.review__text= reviewText