// ---------- общие стили ---------- //

@use "@styles/utils/vars";
@use "@styles/utils/mixins";
@use "@styles/utils/fonts";

html {
	font-family: vars.$font-main;
	font-size: vars.$font-size-base;
	color: vars.$color-main;
}

body {
	font-size: vars.$font-size-main;
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}
