// ---------- общие стили ---------- //

@use "@styles/utils/vars";
@use "@styles/utils/mixins";
@use "@styles/utils/fonts";

html {
	@include mixins.font-main;
	font-size: vars.$font-size-base;
	color: vars.$color-main;
}

.title {
	@include mixins.title;
}

.subtitle {
	@include mixins.subtitle;
}

.label {
	@include mixins.label;
}

.text {
	@include mixins.text;
	line-height: 2.4rem;
}
