@use "@styles/utils/vars";

.ui-kit {
	background-color: #f4f4f6;
	&__logo {
		position: fixed;
		top: 30px;
		left: 30px;
	}
}

.section-wrapper {
	padding: 145px 150px;
}

.colors-and-font-types {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	&__colors-wrapper {
		flex: 1 0 auto;
		margin-right: 50px;
	}
	&__types-wrapper {
		flex: 1 1 auto;
	}
}
