@use "@styles/utils/vars";

.ui-kit {
	background-color: #fff;
	&__logo {
		position: fixed;
		top: 30px;
		left: 30px;
	}
}

.section-wrapper {
	padding: 145px 150px;
}

.section-cards {
	background-color: #f4f4f6;
}
