mixin range-slider(title)
	div(class='range-slider')
		div(class='range-slider__header')
			label.range-slider__title= title
			span(id='js-slider-non-linear-step-value' class='range-slider__value')
		div(id='js-range-slider' class='range-slider__item')