@use "@styles/utils/vars";
@use "@styles/utils/extends";

.room-selection {
	@extend .card-style;
	&__title {
		font-size: 2.4rem;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&__date-dropdown {
		margin-bottom: 20px;
	}
	&__guests-dropdown {
		margin-bottom: 30px;
	}
}
