@use "@styles/utils/vars";
@use "@styles/utils/extends";

.bullet-list {
	@extend .label;
	&__item {
		color: vars.$color-main-dark-75;
		font-size: 1.4rem;
		line-height: 2.4rem;
		font-weight: 400;
		text-transform: none;
		list-style-type: disc;
		&::marker {
			color: vars.$color-main-dark-25;
			font-size: 3.4rem;
		}
	}
}
