@use "@styles/utils/vars";
@use "@styles/utils/extends";

.bullet-list {
	@extend .label;
	&__item {
		color: vars.$color-main-dark-75;
		position: relative;
		padding: 0 20px;
		font-size: 1.4rem;
		line-height: 2.4rem;
		font-weight: 400;
		text-transform: none;
		&:first-child {
			margin-top: 12px;
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&::before {
			content: "";
			position: absolute;
			top: 7px;
			left: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: vars.$color-main-dark-25;
		}
	}
}
