include ../../components/input/input
include ../../components/dropdown/dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/date-dropdown/date-dropdown
include ../../components/block-label/block-label
include ../../components/checkbox/checkbox
include ../../components/radio-button/radio-button
include ../../components/toggle-button/toggle-button
include ../../components/like-button/like-button

section.form-elements
	.form-elements__column
		.wrapper__mb_20
			+input('_type_text', 'Text field')(type='email', placeholder='Email')
		.wrapper__mb_20
			+dropdown({type: 'guests'})
		.wrapper__mb_20
			+dropdown({type: 'facilities'})
		.wrapper__mb_20
			+masked-text-field('Masked text field')(type='text', placeholder='ДД.ММ.ГГГГ')
		.wrapper__mb_20
			+date-dropdown('Date dropdown', 'Date dropdown')
		.wrapper__mb_20
			+date-dropdown('Filter date dropdown', '', true)
	.form-elements__column
		.wrapper__mb_40
			+block-label('Checkbox buttons')
			+checkbox('Можно курить')(name='can-smoke' id='can-smoke')
			+checkbox('Можно с питомцами')(checked name='with-pets' id='with-pets')
			+checkbox('Можно пригласить гостей (до 10 человек)')(checked name='with-guests' id='with-guests')
		.wrapper__mb_40
			+block-label('Radio buttons')
			+radio-button('Мужчина')(checked name='gender' id='male')
			+radio-button('Женщина')(name='gender' id='female')
		.wrapper__mb_40
			+block-label('Toggle')
			+toggle-button('Получать спецпредложения')(checked name='specials')
			+toggle-button('Получать спецпредложения')(name='specials')
		.wrapper__mb_40
			+block-label('Like button')
			+like-button({isLiked: false, counter: 2})
			+like-button({isLiked: true, counter: 12})