.form-elements {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column: 3;
	gap: 20px;
	&__column {
		display: flex;
		flex-direction: column;
		max-width: 320px;
		&_long {
			max-width: none;
			grid-column: 2 / 4;
		}
	}
}

.wrapper {
	&__mb {
		&_20 {
			margin-bottom: 20px;
		}
		&_40 {
			margin-bottom: 40px;
		}
	}
}
