include ../../components/input/input
include ../../components/dropdown/dropdown
include ../../components/masked-text-field/masked-text-field

section.form-elements
	.form-elements__column
		.wrapper__mb_20
			+input('_type_text', 'Text field')(type='email', placeholder='Email')
		.wrapper__mb_20
			+dropdown({type: 'guests'})
		.wrapper__mb_20
			+dropdown({type: 'facilities'})
		.wrapper__mb_20
			+masked-text-field('Masked text field')(type='text', placeholder='ДД.ММ.ГГГГ')