.form-elements {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__column {
		display: flex;
		flex-direction: column;
		flex: 0 0 320px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}

.wrapper {
	&__mb {
		&_20 {
			margin-bottom: 20px;
		}
		&_40 {
			margin-bottom: 40px;
		}
	}
}
