.form-elements {
	display: flex;
	justify-content: space-between;
	&__column {
		display: flex;
		flex-direction: column;
		flex: 0 0 320px;
	}
}

.wrapper {
	&__mb {
		&_20 {
			margin-bottom: 20px;
		}
		&_40 {
			margin-bottom: 40px;
		}
	}
}
