@use "@styles/utils/vars";

.ui-kit {
	background-color: #f4f4f6;
	&__logo {
		position: fixed;
		top: 30px;
		left: 30px;
	}
}

.section-wrapper {
	padding: 145px 150px;
}

.colors-and-font-types {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}
