extends ../layouts/head

block title
	| UI-Kit

block content
	.ui-kit
		.ui-kit__logo
			include ../components/logo/logo_color_gray
		.section-wrapper
			include ../layouts/colors-and-font-types/colors-and-font-types
		.section-wrapper
			include ../layouts/form-elements/form-elements
		.section-wrapper
			include ../layouts/cards/cards