mixin colors(color, colorName, colorCode)
	.colors-preview
		div(class='colors-preview__rectangle colors-preview__rectangle'+color)
		.colors-preview__text
			h2.colors-preview__name= colorName
			.colors-preview__code= colorCode
