mixin input(inputMod, inputTitle)
	if inputTitle
		.input
			label(class='input__label')= inputTitle
				input(class='input__field input__field'+inputMod)&attributes(attributes)
	else
		.input
			input(class='input__field input__field'+inputMod)&attributes(attributes)

//-	inputMod = модификатор для инпута
	inputTitle = заголовок для инпута
