mixin input(inputTitle, subscription)
	if inputTitle
		.input
			label(class='input__label')= inputTitle
			if subscription
				input(class='input__field input__field_type_subscription')&attributes(attributes)
				button(type='submit', class='input__submit-button')
			else
				input(class='input__field')&attributes(attributes)
	else
		.input
			input(class='input__field')&attributes(attributes)
