mixin rating()
	.rating
		.rating__items
			input(class='rating__item-star' id='rating-star_5' type='radio' name='rating-star' value='5')
			label(class='rating__item-label' for='rating-star_5')
			input(class='rating__item-star' id='rating-star_4' type='radio' name='rating-star' value='4')
			label(class='rating__item-label' for='rating-star_4')
			input(class='rating__item-star' id='rating-star_3' type='radio' name='rating-star' value='3')
			label(class='rating__item-label' for='rating-star_3')
			input(class='rating__item-star' id='rating-star_2' type='radio' name='rating-star' value='2')
			label(class='rating__item-label' for='rating-star_2')
			input(class='rating__item-star' id='rating-star_1' type='radio' name='rating-star' value='1')
			label(class='rating__item-label' for='rating-star_1')