section.cards
	.cards__grid-container
		.cards__grid-item
			include ../../components/room-selection/room-selection
		.cards__grid-item
			include ../../components/room-info-card/room-info-card
		.cards__grid-item
			include ../../components/room-selection/room-selection
		.cards__grid-item
			include ../../components/room-info-card/room-info-card