// ---------- Миксины ---------- //

@use "@styles/utils/vars";

// Шрифты
@mixin font-main {
	font-family: Montserrat, Arial, sans-serif;
	font-weight: 400;
}

@mixin font-main-bold {
	font-family: Montserrat, Arial, sans-serif;
	font-weight: 700;
}

@mixin title {
	@include font-main-bold();
	font-size: vars.$font-size-title;
}

@mixin subtitle {
	@include font-main-bold();
	font-size: vars.$font-size-subtitle;
}

@mixin label {
	@include font-main-bold();
	font-size: vars.$font-size-label;
	text-transform: uppercase;
}
