// ---------- Переменные ---------- //

// Цвета
$color-main: #1f2041;
$color-main-dark-75: #1f2041bf;
$color-main-dark-50: #1f204180;
$color-main-dark-25: #1f204140;
$color-main-dark-05: #1f20410d;
$color-accent-1: #bc9cff;
$color-accent-2: #6fcf97;
$color-gradient-main: linear-gradient(#bc9cff, #8ba4f9);

// Шрифты
$font-main: Montserrat, Arial, sans-serif;
$font-size-base: 62.5%; // =10px
$font-size-title: 2.4rem;
$font-size-subtitle: 1.9rem;
$font-size-main: 1.4rem;
$font-size-label: 1.2rem;

// Обводка
$border: 1px solid $color-main-dark-25;
$border-focused: 1px solid $color-main-dark-50;
$border-disabled: 1px solid #eaeaed;

// Тень
$drop-shadow: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));

$transition: all 0.2s ease 0s;
